{% extends "home.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{%static 'css/profile.css' %}">

<div class="profile-form">
	<form method="post" class="card">
	  {% csrf_token %}
	  <h2>Password Reset Confirm</h2>
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  
	  <div>
	    <button type="submit" style="padding: 10px; margin: 25px" class="btn btn-primary">Reset Password</button>
	  </div>
	</form>
</div>


{%endblock content%} 